@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

#container {
  width: 60%;
  margin-left: 20%;
  margin-top: 1.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}
.input-div {
  display: flex;
  padding: 10px;
  width: 350px;
  height: 65px;
  background-color: rgba(173, 216, 230, .85);
  border-radius: 15px;
}
.input-div input {
  padding: 10px;
  font-size: 23px;
  font-weight: bold;
  border: 7px solid rgba(255, 255, 255, .5);
  background: rgba(173, 216, 230, .6);
  outline: none;
  color: #333;
  width: 70%;
}
.fas {
  cursor: pointer;
  margin-left: 8%;
}

form button {
  width: 15%;
  height: 20%;
  border: none;
  background: none;
  outline: none;
}

.circleAlph {
  text-align: center;
  width: 21%;
  border: 4px solid orange;
  border-radius: 50%;
  padding-top: 3.6%;
  font-size: 25px;
  margin-right: 3%;
  cursor: pointer;
}

.dropDownLetters {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 2.5%;
  top: 20%
}

.circleAlph:hover {
  border-color: red;
  transition: 0.3s;
}

.circleAlph:not(:hover) {
  transition: 0.3s;
}
