#container {
  display: flex;
  justify-content: space-around;
  margin-left: 24%;
  margin-right: 24%;
  margin-top: 1%;
  width: 50%;
}

a.tab {
  font-size: 20px;
  font-family: sans-serif;
  cursor: pointer;
  font-weight: 700;
  color: blue;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
}
a.tab:hover { background: rgb(53, 167, 110); }
a.tab:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}
